<h2>My Places</h2>

<div>
  <label>Place name:
    <input #placeName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(placeName.value); placeName.value=''">
    add
  </button>
</div>

<ul class="places">
  <li *ngFor="let place of places">
    <a routerLink="/detail/{{place.id}}">
      <span class="badge">{{place.id}}</span> {{place.name}}
    </a>
    <button class="delete" title="delete place"
            (click)="delete(place)">x</button>
  </li>
</ul>
